div{
    width:50%;
    height:50%;
    background-color: #13ece1;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    left:80px;
    border-radius: 30px;
}
button{
    padding:5px;
    width:60px;
}