<div class="parent">
    <div>
        <h5><span>Activity::</span>{{details.activity}}</h5>
        <h4><span>Type::</span>{{details.type}}</h4>
        <h5><span>Participants::</span>{{details.participants}}</h5>
        <h5><span>Price::</span>{{details.price}}</h5>
        <h5><span>Link::</span>{{details.link}}</h5>
        <h5><span>Key::</span>{{details.key}}</h5>
        <h5><span>Accessibility::</span>{{details.accessibility}}</h5>

        <button (click)="reload()">Reload</button>
    </div>
</div>