<div class="parent">
    <div class="child">
          <form [formGroup]="loginForm">
              <h1 class="text text-warning">LOGIN</h1>

              <label for="">Email:</label>
              <input type="text" formControlName="email" placeholder="enter your email">
              <br>

              <label for="">password:</label>
              <input type="password" formControlName="password" placeholder="enter your password">
              <br>

              <button class="btn btn-primary" (click)="login()">submit</button>
              
          </form>
    </div>

</div>
