.parent{
    width:500px;
    height:auto;
    background-color:aqua;
    padding:30px;
    margin:30px;
    border-radius:15px;
}
label{

    display:inline-block;
    width:100px;
    height:50px;
}
input:hover{
    cursor:pointer;
    background-color: blanchedalmond;
}
.cards{
    width:400px;
    height:300px;
    
    padding:15px;
    margin-bottom:20px;
    background-color: blanchedalmond;
    border-radius: 15px;
    
}
