<div class="parent">

    <div class="child">
        <h1>calculator</h1><br><br>
        <div class="child1">

            <label for="">Number1::</label>
            <input type="number" [(ngModel)]="num1"><br>

            <label for="">Number2::</label>
            <input type="number" [(ngModel)]="num2"><br>

        </div><br>

        <div class="child2">
            <h2>Result is__{{result}}____</h2>
        </div>

        <div class="child3">
            <app-child1 [num1]="num1" [num2]="num2" (eventEmitter)="catch($event)"></app-child1>
        </div>

    </div>

</div>