<h1 style="text-align: center;">Car</h1>
<input type="text" [(ngModel)]="term" (keyup)="getFilteredVehicles()">
<label for="">column:</label>
<select [(ngModel)]="column">
    <option>color</option>
    <option>fuel</option>
</select>

<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>
<button (click)="getSortedVehicles()">sort</button>
<label for="">limit</label>
<select name="" id="" [(ngModel)]="limit">
    <option>5</option>
    <option>10</option>
    <option>15</option>
</select>
<select name="" id="" [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>
<button (click)="getPageVehicles()">button</button>
<table class="table">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>id</th>
            <th>button</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="" width="30px" height="40px">
            </td>
            <td>{{vehicle.id}}</td>
            <td>
                <button (click)="deleteVehicles(vehicle.id)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>