.parent{
    width:500px;
    height:auto;
    background-color: blanchedalmond;
    padding:20px;
    margin:50px;
}
    

label{
    display:inline-block;
    height:50px;
    width:100px;
}
.comments{
          width:400px;
          height:280px;
           background-color: aqua;
           border-radius:30px;
          padding:15px;
          margin-bottom: 10px;
}