<div class="parent">
    <div class="left">
       <h1>My website</h1>
       <hr>
       <h2 routerLink="home">Home</h2>
       <h2 routerLink="info">info</h2>
       <h2 routerLink="variable">Variables</h2>
       <h2 routerLink="interpolation">Interpolation</h2>
       <h2 routerLink="eventbinding">Eventbinding</h2>
       <h2 routerLink="twowaybinding">Twowaybinding</h2>
       <h2 routerLink="calculator">Calculator</h2>
       <h2 routerLink="rectangle">Rectangle</h2>
       <h2 routerLink="circle">Circle</h2>
       <h2 routerLink="bmi">Bmi</h2>
       <h2 routerLink="structural-directives">Structural Directives</h2>
       <h2 routerLink="attribute-directives">Attribute-Directives</h2>
       <h2 routerLink="marksheet">Marksheet</h2>
       <h2 routerLink="vehicle">Vehicle</h2>
       <h2 routerLink="bank">Bank</h2>
       <h2 routerLink="school">School</h2>
       <h2 routerLink="flipcart">Flipcart</h2>
       <h2 routerLink="mail">Mail</h2>
       <h2 routerLink="activity">Activity</h2>
       <h2 routerLink="memes">Memes</h2>
       <h2 routerLink="users">Users</h2>
       <h2 routerLink="students">Students</h2>
       <h2 routerLink="create-vehicle">Create-vehicle</h2>
       <h2 routerLink="create-bank">Create-Bank</h2>
       <h2 routerLink="create-student">Create-Student</h2>
       <h2 routerLink="create-user">Create-User</h2>
       <h2 routerLink="create-productform">Create-ProductForm</h2>
       <button (click)="logout()">logout</button>
       </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>
