<h1>Schools</h1>
<table class="table">
       <thead>
            <tr>
                <th>account_name</th>
                <th>available_balance</th>
                <th>account_number</th>
                <th>city</th>
                <th>profie_picture</th>
                <th>id</th>
            </tr>
       </thead>
       <tbody>
              <tr *ngFor="let student of students">
                <td>{{student.account_name}}</td>
                <td>{{student.available_balance}}</td>
                <td>{{student.account_number}}</td>
                <td>{{student.city}}</td>
                <td>
                    <img src="{{student.profie_picture}}" alt="" width="30px"height="40px">
                </td>
                <td>{{student.id}}</td>
              </tr>
       </tbody>
</table>
